/*quitar los margenes
#2c3e50
#18bc9c
#212529 */
* {
  margin: 0;
  padding: 0;
}

body {
  background: #fffffa;
}

header {
  width: 100%;
  height: 70px;
  overflow: hidden;
  background: #2c3e50;
  padding-top: 20px;
  padding-bottom: 20px;
}

.wrapper {
  width: 100%;
  margin: auto;
}

header .logo {
  color: #ffffff;
  padding-left: 100px;
  padding-top: 15px;
  padding-bottom:15px;
  font-size: 2em;
  font-family: 'Montserrat', sans-serif;
  float: left;
}

header nav {
  float: right;
  padding-right: 111px;
  padding-top: 15px;
}

header nav a {
  font-family: 'Montserrat', sans-serif;
  display: inline-block;
  color: white;
  text-decoration: none;
  padding: 10px 11px;
}
/*aqui termina los estilos para el navegador*/


/*aqui empieza los estilos para el cuerpo*/



/*estilos del footer*/
